*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: inherit; 
    background-color: rgb(175, 186, 196);
}

.main-container{
    margin: 2rem 0rem;
    height: calc(100vh - 6rem);
    width: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.create-div{
    padding: 1rem 3rem;
    margin-bottom: 1rem;
    font-weight: 500;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 10px;
    
}
.title{
    font-weight: 600;
    font-size:2rem ;
    margin-bottom: 1rem;
    
}
.reset{
    padding: 1rem 3rem;
    cursor: pointer;
    border-radius: 10px;
}

button:hover{
    background-color: white;
    color: black;
}
.div-container{
    height:600px;

    width: 600px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);

}
.innerDiv{
    background-color: whitesmoke;
    box-sizing: border-box;
    border: 1px solid black;
    aspect-ratio: 1/1;
    cursor: pointer;
}